/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\components\\footer.tsx","import":"Courgette","arguments":[{"subsets":["latin"],"weight":"400"}],"variableName":"courgette"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Courgette_b2ad13';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5bb508d460a082cf-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Courgette_b2ad13';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/b6d88bda8374924d-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Courgette_Fallback_b2ad13';src: local("Arial");ascent-override: 96.48%;descent-override: 27.02%;line-gap-override: 0.00%;size-adjust: 101.22%
}.__className_b2ad13 {font-family: '__Courgette_b2ad13', '__Courgette_Fallback_b2ad13';font-weight: 400;font-style: normal
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\components\\header.tsx","import":"Courgette","arguments":[{"subsets":["latin"],"weight":"400"}],"variableName":"courgette"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Courgette_b2ad13';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5bb508d460a082cf-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Courgette_b2ad13';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/b6d88bda8374924d-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Courgette_Fallback_b2ad13';src: local("Arial");ascent-override: 96.48%;descent-override: 27.02%;line-gap-override: 0.00%;size-adjust: 101.22%
}.__className_b2ad13 {font-family: '__Courgette_b2ad13', '__Courgette_Fallback_b2ad13';font-weight: 400;font-style: normal
}

